<div class="row">
	<div class="col-md-6">
		<strong>Status Alerts</strong>
	</div>
	<div class="col-md-6">
		<strong>Notifications</strong>
	</div>
	<div class="col-md-12">
		<hr>
	</div>
	<div class="col-md-6 er-list-group">
		<ul class="list-group">
			<a class="list-group-item">
    		<i class="fas fa-check fa-2x uits-green"></i>
    		UITS Marketplace is Available
  		</a>
			<a class="list-group-item">
    		<i class="fas fa-check fa-2x uits-green"></i>
    		UITS Office is Available
  		</a>
			<a class="list-group-item">
    		<i class="fas fa-check fa-2x uits-green"></i>
    		UITS Ledger is Available
  		</a>
			<a class="list-group-item">
    		<i class="fas fa-times fa-2x uic-warning"></i>
    		DC DOL is Unavailable
  		</a>
			<a class="list-group-item">
    		<i class="fas fa-check fa-2x uits-green"></i>
    		PFL Marketplace is Available
  		</a>
		</ul>
	</div>
	<div class="col-md-6">
		<ul class="list-group">
		  <li class="list-group-item"><a href="#">2019 Quarter 1 Wage Report (U3) are almost due</a></li>
		  <li class="list-group-item"><a href="#">New Features for Employers are now available</a></li>
		  <li class="list-group-item"><a href="#">2018 Annual Wage Reporting period is now closed</a></li>
		</ul>
		<br />
		<button class="btn btn-raised btn-success">Create New Notification</button>
	</div>
	<div class="col-md-6 mt-3">
		<strong>Recently Accessed Employers</strong>
	</div>
	<div class="col-md-6 mt-3">
		<strong>TPAs</strong>
	</div>
	<div class="col-md-12">
		<hr>
	</div>
	<div class="col-md-6">
		<ul class="list-group er-list-group">
			<% @employers.each do |er| %>
				<li class="list-group-item"><a href="#"><%= er.legal_name %></a></li>
			<% end %>
		</ul>
	</div>
	<div class="col-md-6">
		<ul class="list-group">
			<% @tpas.each do |tpa| %>
        <% if tpa.respond_to? :legal_name %>
          <li class="list-group-item"><a href="#"><%= tpa.legal_name %></a></li>
        <% else %>
          <li class="list-group-item"><a href="#"><%= tpa.current_first_name %> <%= tpa.current_last_name %></a></li>
        <% end %>
			<% end %>
		</ul>
	</div>
</div>
