<div class="row">
	<div class="col-md-6">
		Status Alerts
	</div>
	<div class="col-md-6">
		Notifications
	</div>
	<div class="col-md-12">
		<hr>
	</div>
	<div class="col-md-6 er-list-group">
		<ul class="list-group">
			<a class="list-group-item">
    		<i class="fas fa-check fa-2x uits-green"></i>
    		UITS Marketplace is Available
  		</a>
			<a class="list-group-item">
    		<i class="fas fa-check fa-2x uits-green"></i>
    		UITS Office is Available
  		</a>
			<a class="list-group-item">
    		<i class="fas fa-check fa-2x uits-green"></i>
    		UITS Ledger is Available
  		</a>
			<a class="list-group-item">
    		<i class="fas fa-times fa-2x uic-warning"></i>
    		DC DOL is Unavailable
  		</a>
			<a class="list-group-item">
    		<i class="fas fa-check fa-2x uits-green"></i>
    		PFL Marketplace is Available
  		</a>
		</ul>
	</div>
	<div class="col-md-6">
		<ul class="list-group">
		  <li class="list-group-item"><a href="#">2019 Quarter 1 Wage Report (U3) are almost due</a></li>
		  <li class="list-group-item"><a href="#">New Features for Employers are now available</a></li>
		  <li class="list-group-item"><a href="#">2018 Annual Wage Reporting period is now closed</a></li>
		</ul>
		<br />
		<button class="btn btn-raised btn-success">Create New Notification</button>
	</div>
	<div class="col-md-6 mt-3">
		Recently Accessed Employers
	</div>
	<div class="col-md-6 mt-3">
		TPAs
	</div>
	<div class="col-md-12">
		<hr>
	</div>
	<div class="col-md-6">
		<ul class="list-group er-list-group">
		  <li class="list-group-item"><a href="#">Employer 1</a></li>
		  <li class="list-group-item"><a href="#">Employer 2</a></li>
		  <li class="list-group-item"><a href="#">Employer 3</a></li>
		  <li class="list-group-item"><a href="#">Employer 4</a></li>
		  <li class="list-group-item"><a href="#">Employer 5</a></li>
		</ul>
	</div>
	<div class="col-md-6">
		<ul class="list-group">
		  <li class="list-group-item"><a href="#">TPA 1</a></li>
		  <li class="list-group-item"><a href="#">TPA 2</a></li>
		  <li class="list-group-item"><a href="#">TPA 3</a></li>
		  <li class="list-group-item"><a href="#">TPA 4</a></li>
		  <li class="list-group-item"><a href="#">TPA 5</a></li>
		</ul>
	</div>
</div>
