<div class="row">
	<div class="col-md-6">
		<strong>Status Alerts</strong>
	</div>
	<div class="col-md-6">
		<strong>Notifications</strong>
	</div>
	<div class="col-md-12">
		<hr>
	</div>
	<div class="col-md-6">
		<ul class="list-group er-list-group">
		  <a class="list-group-item">
		    <i></i>
		    	UI Assessed Tax Rate:
		    <i class="material-icons">2.7%</i>
		  </a>
			<a class="list-group-item">
		    <i></i>
		    	PFL Assessed Tax Rate:
		    <i class="material-icons">0.63%</i>
		  </a>
			<a class="list-group-item">
		    <i></i>
		    	UI Liability Type:
		    <i class="material-icons">Contributor</i>
		  </a>
			<a class="list-group-item">
		    <i></i>
		    	PFL Liability Type:
		    <i class="material-icons">Liable</i>
		  </a>
			<a class="list-group-item">
		    <i></i>
		    	My Next Reporting Date:
		    <i class="material-icons">3/31/19</i>
		  </a>
			<a class="list-group-item">
		    <i></i>
		    	Last Report Submitted:
		    <i class="material-icons">12/23/18</i>
		  </a>
		</ul>
		<br />
		<button class="btn btn-raised btn-secondary">Change Details</button>
		<button class="btn btn-raised btn-secondary">File A Report</button>
	</div>
	<div class="col-md-6">
		<ul class="list-group">
		  <li class="list-group-item"><a href="#">2019 Quarter 1 Wage Report (U3) are almost due</a></li>
		  <li class="list-group-item"><a href="#">New Features for Employers are now available</a></li>
		  <li class="list-group-item"><a href="#">2018 Annual Wage Reporting period is now closed</a></li>
		</ul>
		<br />
		<button class="btn btn-raised btn-success">Create New Notification</button>
	</div>
	<div class="col-md-6 mt-4">
		<strong>Status Alerts</strong>
	</div>
	<div class="col-md-6 mt-4">
		<strong>My Agent</strong>
	</div>
	<div class="col-md-12">
		<hr>
	</div>
	<div class="col-md-6 er-list-group">
		<ul class="list-group">
			<a class="list-group-item">
		    <i></i>
		    	UI Last Quarter Tax Assessment:
		    <i class="material-icons uic-warning">$8,421.63</i>
		  </a>
			<a class="list-group-item">
		    <i></i>
		    	UI Amount Owing:
		    <i class="material-icons uic-warning">$250.00</i>
		  </a>
			<a class="list-group-item">
		    <i></i>
		    	PFL Last Quarter Tax Assessment:
		    <i class="material-icons uic-warning">$13,227.14</i>
		  </a>
			<a class="list-group-item">
		    <i></i>
		    	PFL Amount Owing:
		    <i class="material-icons uic-warning">$0.00</i>
		  </a>
			<a class="list-group-item">
		    <i></i>
		    	Total Amount Owing:
		    <i class="material-icons uic-warning">$250.00</i>
		  </a>
		</ul>
		<br />
		<button class="btn btn-raised btn-success">Make A Payment</button>
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-4">
				<i class="fas fa-address-card fa-9x"></i>
			</div>
			<div class="col-md-6">
				<ul class="list-group">
				  <li class="list-group-item"><a href="#">Small Business Insurance Ltd.</a></li>
				  <li class="list-group-item">John Smith</li>
				  <li class="list-group-item">202-111-22222</li>
				  <li class="list-group-item">john.smith@sbi.com</li>
				</ul>
				<br />
				<button class="btn btn-raised btn-secondary">Change</button>
			</div>
		</div>
	</div>
</div>
