<div class="card">
  <div class="card-header" id= "card-header">Wage Reporting</div>
    <div class="card-body">
      <div class="card">
          <div class="card-header"id= "card-header">Select Submission Type</div>
            <div class="card-body">
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="defaultGroupExample1" name="groupOfDefaultRadios">
            <label class="custom-control-label" for="defaultGroupExample1">Amend Prior Report</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="groupOfDefaultRadios" checked>
            <label class="custom-control-label" for="defaultGroupExample2">File New Report</label>
          </div>
          <div class="dropdown">
            <a class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Report Quarter/Year</a>
              <div class="dropdown-menu dropdown-primary">
              <a class="dropdown-item" href="#">Quarter</a>
              <a class="dropdown-item" href="#">Year </a>
           </div>
          </div>
        </div>
      </div>
      </div>
    <div class="card-body">
      <div class="card">
          <div class="card-header"id= "card-header">Filing Methods</div>
          <p class="card-text"> How are you filing your wage records?</p>
            <div class="card-body">
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="defaultGroupExample1" name="groupOfDefaultRadios">
            <label class="custom-control-label" for="defaultGroupExample1">Upload a file containing wage information</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="groupOfDefaultRadios" checked>
            <label class="custom-control-label" for="defaultGroupExample2">Manual Entry- Enter individual wage records</label>
          </div>      
          <div class="custom-control custom-radio">
           <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="groupOfDefaultRadios" checked>
           <label class="custom-control-label" for="defaultGroupExample2">Copy Employee Information</label>
        </div>
        <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="groupOfDefaultRadios" checked>
        <label class="custom-control-label" for="defaultGroupExample2">No Wage Reporting</label>
     </div>
      </div>
      <div class="btn-group buttons" >
        <button type="button" class="single-button btn " id="single-button">Previous</button>
        <button type="button" class=" single-button btn " id="single-button">Next</button>
        <button type="button" class=" single-button btn " id="single-button">Finish</button>
      </div>
      
</div>