<div>
  <h4 class="text-center">TPAs</h4>
  <div class="col-12" data-controller="tpas">
    <table id="tpaDataTable" class="display table table-stripped table-sm" style="width:100%">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
            </tr>
        </thead>
    </table>
  </div>
</div>
