<div class="card-body">
  <div class="card">
    <li class="list-group-item active">At a Glance </li>
    <div class = "at-a-glance col">
      <div class = "card-body at">

      <h5>Current UI Wages Paid- <span class = 'number'> <%="#{number_to_currency(@current_reports.first.ui_paid_amount)}"%></span></h5>
      </div>
     <div class = "card-body at">

      <h5>Current UI Amount Due- <span class = 'number'> <%="#{number_to_currency(@current_reports.first.ui_amount_due)}"%></span></h5>
     </div>

     <div class = "card-body at">

      <h5>Current Total Wages - <span class = 'number'> <%="#{number_to_currency(@current_reports.first.state_total_gross_wages)}"%></span></h5>
     </div>

     <div class = "card-body at">

     <h5>Next report due -  <span class = 'number'><%="#{@current_reports.first.timespan.end_on.to_date}"%></span></h5>
    </div>
    </div>

  </div>
</div>



