<div class="card-body">
  <div class="card">
    <li class="list-group-item "id="card-header">At a Glance </li>
      <div class = "row">
        <div class = "col">
          <p class = "data-header">Current UI Wages Paid</p>
            <p> <%="#{number_to_currency(@current_reports.first.ui_paid_amount)}"%></p>
        </div>
     <div class = "col">
          <p class = "data-header">Current UI  Due</p>
          <p><%="#{number_to_currency(@current_reports.first.ui_total_due)}"%></p>
     </div>
     <div class = "col">
          <p class = "data-header">Current Total Wages</p>
      <p> <%="#{number_to_currency(@current_reports.first.sum_state_total_wages)}"%></p>
     </div>

     <div class = "col">
        <p class = "data-header">Next report due </p>
     <p><%="#{@current_reports.first.timespan.end_on.to_date}"%></p>
    </div>
    </div>

  </div>
</div>



