<div class="col-md-4 mt-4">
	<div class="card">
		<div class="card-header text-center">Create Wage Report</div>
	  <div class="card-body wr-card">
				<div class="radio mt-3">
					<label>
			      <%= radio_button_tag :filing_method_kind, 'upload' %>
			      Upload
			    </label>
				</div>
				<div class="radio">
					<label>
			      <%= radio_button_tag :filing_method_kind, 'no_wages' %>
			      No Wages
			    </label>
				</div>
				<div class="radio">
					<label>
			      <%= radio_button_tag :filing_method_kind, 'manual_entry', :checked => true %>
			      Manuel Entry
			    </label>
				</div>
				<div>
					<%= link_to 'Submit', new_employer_wage_report_path(@organization.id), class:'btn btn-raised btn-success btn-block btn-lg mt-3' %>
				</div>
	  </div>
	</div>
</div>
