<div class="card">
  <div class="card-header"><%= @organization.legal_name %> Wage Reports</div>
	<div class="row pl-3">
	  <%= render :partial => "latest_report" %>
		<%= render :partial => "new_report" %>
	</div>
  <%= render :partial => "older_reports" %>
  </div>
</div>
