<div class="card">
  <div class="card-header"><%= @organization.legal_name %> Wage Reports</div>
  <%= render :partial => "new_report" %>
  <%= render :partial => "latest_report" %>
  <%= render :partial => "older_reports" %>
  </div>
</div>
