<div class="card">
  <div class="card-header" id= "card-header">Your Wage Reports</div>
    <div class="card-body">
      <div class="card">
      <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" class="card-header"id= "card-header">Time Span</div>
          <th scope="col" class="card-header"id= "card-header">Status</div>
          <th scope="col" class="card-header"id= "card-header">Submission Kind</div>
        </tr>
        <% @reports.each do |report|%>
              <tbody>
                <tr>
                
                  <th scope="row"><%=link_to "#{report.timespans.last.title}", wage_report_path(report.id)%></th>
                  <td><%=report.status%></td>
                  <td><%=report.submission_kind%></td>
                </tr>
              </tbody>
              <%end%>
            </table>
          </div>
      </div>
</div>