
<div class="card">
  <div class="card-header" id= "card-header">Wage Report for <%="#{@organization.legal_name.capitalize}"%> - <%=@current_report.timespan.title%>
  </div>
  <%= render partial: "new_wage_report_show" %>
      <div class = "card-body" >
        <div class="accordion md-accordion" id="accordionEx" role="tablist" >
          <a data-toggle="collapse" data-parent="#accordionEx" href="#entries">
            <li class="list-group-item" id = "card-header">Wage Entries </li>
          </a>
        <div id="entries" class=" collapse hide">
        <%= render :partial  => "wage_report_show_entries"  %>
        </div>
     </div>
  </div>
</div>
