<div class="card">

  <div class="card-header" id= "card-header">Report Span - <%=@report.timespans.first.title%></div>
    <div class="card-body">
      <div class="card">
      <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" class="card-header"id= "card-header">Time Span</div>
          <th scope="col" class="card-header"id= "card-header">Status</div>
          <th scope="col" class="card-header"id= "card-header">Submission Kind</div>
        </tr>
              <tbody>
                <tr>
                  <th scope="row"><%=@report.timespans.first.title%></th>
                  <td><%=@report.status%></td>
                  <td><%=@report.submission_kind%></td>
                </tr>
              </tbody>

            </table>
          </div>
      </div>
</div>