<div>
  <h4 class="text-center">Employers</h4>
  <div class="col-12" data-controller="employers">
    <table id="employerDataTable" class="display table table-stripped table-sm" style="width:100%">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>FEIN</th>
                <th>TPA</th>
                <th>Active</th>
            </tr>
        </thead>
    </table>
  </div>
</div>
