<div>
  <h3 class="display-5 text-center">Employers</h3>
  <div class="col-12" data-controller="employers">
    <table id="employerDataTable" class="display table table-stripped table-sm" style="width:100%">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>FEIN</th>
                <th>Entity Kind</th>
            </tr>
        </thead>
    </table>
  </div>
</div>
