<h4 class="text-center md-2">Employer Registration</h4>
<div data-controller="employer-registrations">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body wizard-content">
                    <form action="#" class="tab-wizard wizard-circle">
                        <!-- Step 1 -->
                        <h6>Personal Info</h6>
                        <section>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstName1">First Name :</label>
                                        <input type="text" class="form-control" id="firstName1"> </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastName1">Last Name :</label>
                                        <input type="text" class="form-control" id="lastName1"> </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="emailAddress1">Email Address :</label>
                                        <input type="email" class="form-control" id="emailAddress1"> </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="phoneNumber1">Phone Number :</label>
                                        <input type="tel" class="form-control" id="phoneNumber1"> </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="date1">Date of Birth :</label>
                                        <input type="date" class="form-control" id="date1"> </div>
                                </div>
                            </div>
                        </section>
                        <!-- Step 2 -->
                        <h6>Employer Info</h6>
                        <section>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="legalName1">Legal Name :</label>
                                        <input type="text" class="form-control" id="legalName1"> </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="dba1">DBA :</label>
                                        <input type="text" class="form-control" id="dba1">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="fein1">FEIN :</label>
                                        <input type="text" class="form-control" id="fein1">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="kind1">Kind :</label>
                                        <select class="form-control" id="kind1">
                                          <option value="corporation">Corporation</option>
                                          <option value="sole_proprietorship">Sole Proprietorship</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Step 3 -->
                        <h6>Contribution Info</h6>
                        <section>
                            <div class="row">
                                <div class="col-12">
                                  Coming Soon
                                </div>
                            </div>
                        </section>
                        <!-- Step 4 -->
                        <h6>Address Info</h6>
                        <section>
                            <div class="row">
                              <div class="col-md-9">
                                <div class="form-group">
                                  <label for="address1">Address :</label>
                                  <input type="text" class="form-control" id="address1">
                                </div>
                              </div>
                              <div class="col-md-3">
                                <div class="form-group">
                                  <label for="kind1">Kind :</label>
                                  <select class="form-control" id="exampleSelect2">
                                    <option value="primary">Primary</option>
                                    <option value="home">Home</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label for="address2">Address 2 :</label>
                                  <input type="text" class="form-control" id="address2">
                                </div>
                              </div>
                              <div class="col-md-3">
                                <div class="form-group">
                                  <label for="city1">City :</label>
                                  <input type="text" class="form-control" id="city1">
                                </div>
                              </div>
                              <div class="col-md-3">
                                <div class="form-group">
                                  <label for="state1">State :</label>
                                  <input type="text" class="form-control" id="state1">
                                </div>
                              </div>
                              <div class="col-md-3">
                                <div class="form-group">
                                  <label for="zip1">Zip :</label>
                                  <input type="text" class="form-control" id="zip1">
                                </div>
                              </div>
                              <div class="col-md-3">
                                <div class="form-group">
                                  <label for="county1">County :</label>
                                  <input type="text" class="form-control" id="county1">
                                </div>
                              </div>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
