$back: #17365D;



.bmd-layout-canvas{
  height: calc(100vh - 88px);
}

.bmd-layout-drawer {
  background-color: $back;
}

#card-header{
  color:white;
  background-color: $back
}
#card{
  // padding:50px;
}

.buttons{
}

#single-button{
  color:white;
  margin:10px;
  background: $back

}
#single-button:hover{
  background-color: white;
  color:$back
}