$blue: #355575;
$green:#019588;

.bmd-layout-canvas {
  height: calc(100vh - 88px) !important;
}
.at-a-glance h6{
  color: $blue;
  padding-left:6px;
  border-left: 2px solid $blue;
}
.page-footer{


}
.btn {
  background-color: $blue;
  color:white;
}
.radio{
  // background-color:$blue; Commenting out due to globally styling inputs outside of wage reports
}
.wage-report-table, #entries{
  color:$blue;
}
.new-report-button{
  background-color: $blue;
}
.wage-report-table tr td{
// border-left: 2px solid $blue;
margin-bottom:2px;
box-shadow: 1px 1px;
}

.bmd-layout-drawer {
  background-color: #355575 !important;
}
.wage-report-edit-headers{
  font-size:16px;
}
.edit-wage-report-card{
  margin-left:15px;
}
#card-header{
  color:white;
  background-color: $blue
}

.input{
  color: $blue;
}
#button-row{
  margin-top:20px;
}
.data-header{
  font-weight: bold;
  border-bottom: 1px solid $blue;
}
.data-label {
  font-weight: bold;
  display: inline;
  &::after {
    content: ':'
  }
}
.data-label + p {
  display: inline;
}
.col  {

  p{
  padding-left:5px;
  font-size: 15px;
  color: $blue;

  }
}

.report-details{
  border:2px solid $blue;
}
.row {
  margin:20px;
}
#plus, #create-report-btn{
  font-size: 10px;

  background-color: $blue;
  color:white;
}
.start-report-button{
width:120px;
background-color: $blue;
a{

  color:white;
}
padding:5px;
}

#start-report, .start-report{
  font-size: 12px;
  background-color: $blue;
  margin-top:15px;
  color:white;
}
#new-report{
  div{
    margin:5px;
  }
  padding: 15px;
}
.th-sm{
  color: $blue;
}

.no-reports{
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  padding:50px;
}

#plus:hover{
  background-color: white;
  color:$blue;
}

#single-button{
  color:white;
  margin:10px;
  background: $blue

}
.at-a-glance{
  font-weight: bold;
}

.destroy-entry
{
  margin-left:10px;
  a {
    padding:5px;
    font-size: 15px;
  }
}
#single-button:hover{
  background-color: white;
  color:$blue
}

.bmd-form-group.is-filled {
	select {
		padding: 7px 7px 7px 12px;
	}
}

#employerDataTable_filter, #tpaDataTable_filter {
	input {
		border-radius: 2em;
		padding: .5em 1em;
		border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
	}
}

.wizard-content .wizard > .steps > ul > li.current .step {
  border-color: #355575 !important;
  color: #355575 !important;
}

.wizard-content .wizard > .steps > ul > li.done .step {
  background-color: #355575 !important;
  border-color: #355575 !important;
}

li.first.done:after, li.current:before, li.done:before, li.done:after {
  background-color: #355575 !important;
}
