@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

body, html {
  font-family: 'Montserrat', sans-serif;
  background-color: #f4f8fa;
  height: 100%;
}

.breadcrumb {
  background-color: transparent;
}

footer {
  background-color: #343a40;
  color: #8d97ad;
  font-weight: 300;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.navbar-toggler {
  .fa-bars {
    color: $back;
  }
}

.sign-in-card, .sign-up-card, .forgot-password-card {
  margin-top: 90px;
  .card-img-top {
    background: linear-gradient(to right, $back 0%, #316ce8 100%);
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.uits-nav {
  background: linear-gradient(to right, $back 0%, #316ce8 100%);
  .fa-user-circle, .fa-envelope, .fa-bell {
    color: #ffffff;
  }
  .fa-user-circle:hover {
      cursor: pointer;
  }
  .heading-txt {
    float: right;
    padding-left: 10px;
    color: #fff;
    font-weight: 300;
    font-size: 26px;
  }
}
