@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

body, html {
  font-family: 'Montserrat', sans-serif;
  background-color: #f4f8fa;
  height: 100%;
}

.breadcrumb {
  background-color: transparent;
}

footer {
  background-color: #343a40;
  color: #8d97ad;
  font-weight: 300;
  bottom: 0;
  position: fixed;
  width: 100%;
}

/* The container */
.cb-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.cb-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 21px;
  width: 21px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.cb-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.cb-container input:checked ~ .checkmark {
  background-color: #009688;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.table .thead-dark th {
  font-weight: bold;
}

/* Show the checkmark when checked */
.cb-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.cb-container .checkmark:after {
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navbar-toggler {
  .fa-bars {
    color: #ffffff;
  }
}

#side-menu {
  ul.list-group {
    color: #ffffff;
    a {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.sign-in-card, .sign-up-card, .forgot-password-card {
  margin-top: 90px;
  .card-img-top {
    background: linear-gradient(to right, #188ef4 0%, #316ce8 100%);
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.uits-nav {
  background: linear-gradient(to right, #188ef4 0%, #316ce8 100%);
  .fa-user-circle, .fa-envelope, .fa-bell {
    color: #ffffff;
  }
  .fa-user-circle:hover {
      cursor: pointer;
  }
  .heading-txt {
    float: right;
    padding-left: 10px;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
  }
}

// Overides datatables styles for table
table.dataTable thead th {
  padding-top: 5px;
  padding-bottom: 5px;
}

table.dataTable tbody td {
  padding-top: 5px;
  padding-bottom: 5px;
}

#employerDataTable_filter {
  input {

  }
}
